<ion-view title="Home">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a href="#/tabs/bundy" class="button button-stable button-block  icon-left ion-android-stopwatch">Clock a user On/Off</a>
        <a href="#/tabs/time_home" class="button button-stable button-block  icon-left ion-clock">Review Timesheets</a>
        <a href="#/tabs/travelLogBook" class="button button-stable button-block  icon-left ion-android-car">Review Travel Logs</a>
        <a href="#/tabs/jobs" class="button button-stable button-block  icon-left ion-android-clipboard">Edit Jobs</a>
        <a href="#/tabs/ch_pword" class="button button-stable button-block  icon-left ion-key">Update Password</a>
        <button class="button button-full button-assertive" ng-click="logout()">Log Off</button>
    </ion-content>
</ion-view>