<ion-view title="User Management">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <button type="button" class="button button-stable button-block  icon-left ion-android-add" ng-click="open()">Create a User</button>
        <a ui-sref="tabsController.userlisting" class="button button-stable button-block  icon-left ion-ios-people-outline">Edit/Remove a User</a>
        <button type="button" class="button button-stable button-block  icon-left ion-key" ng-click="passchange()">Reset a Password</button>
    </ion-content>
</ion-view>